body {
    background-image: url('imagenes/user.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courgette', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

body::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.login-container {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 30px;
    background-color: rgba(23, 23, 66, 0.7);  
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.596);
    margin-top: 50px;  
    text-align: left;  
}

h2 {
    color: #ffea8c;  
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


input, select {
    width: 100%; 
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: rgba(170, 135, 124, 0.466);
    color: #ecebe9;
}

select {
    background-color: rgba(25, 24, 85, 0.685);
}


button {
    background-color: #2426aa;  
    color: rgb(245, 245, 245);
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #975d3c;
}

.error {
    color: rgb(201, 47, 47);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}


input:focus, select:focus, button:focus {
    outline: 2px solid #4552fa; 
}


@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);  
    }
}
.back-to-home {
    margin-top: 20px;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}


.back-button:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}


.back-button:active {
    background-color: #388e3c;
    transform: scale(0.98); 
}

.error {
    color: red;
    font-size: 0.9em;
}

.success {
    color: green;
    font-size: 0.9em;
}